<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='dismissSignUp()'><ion-icon name="close-circle" slot='icon-only'></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12'>
        <ion-card class='ion-padding'>
          <ion-card-header>
            <ion-card-title class='ion-padding-start'><h3>Credentials</h3></ion-card-title>
            <ion-card-subtitle class='ion-padding-start'>Please enter your details. Please do not share your password with anyone.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines='none'>
              <form #signupData='ngForm' (ngSubmit)='signupForm(signupData)'>
                <ion-item>
                  <ion-label position='floating'>Preferred username</ion-label>
                  <ion-input type='text'
                  ngModel
                  name='username'
                  #username='ngModel'
                  required
                  clearInput
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf='username.touched && username.invalid'>
                  <ion-text color='danger'>Please enter your preferred username</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label position='floating'>Enter your password</ion-label>
                  <ion-input type='password'
                  ngModel
                  name='password1'
                  #password1='ngModel'
                  required
                  clearInput
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf='password1.touched && password1.invalid'>
                  <ion-text color='danger'>Please enter your password</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label position='floating'>Reenter your password</ion-label>
                  <ion-input type='password'
                  ngModel
                  name='password2'
                  #password2='ngModel'
                  required
                  clearInput
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf='password2.touched && password2.invalid || password1.value != password2.value'>
                  <ion-text color='danger'>Passwords do not match</ion-text>
                </ion-item>
                <ion-button
                expand='block'
                fill='outline'
                type='submit'
                [disabled]='!(username.valid && password1.valid && password2.valid && password1.value == password2.value)'
                >Sign me up!</ion-button>
              </form>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>