<ion-header>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button color='primary'
      expand='block'
      fill='solid'
      (click)='gotoSignUpPage()'
      ><ion-icon name="create" slot='start'></ion-icon>Sign up</ion-button>
      <ion-button color='danger' (click)='closeUsernameModal()'><ion-icon name="close-circle-outline" slot='icon-only'></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12' size-sm='8' offset-sm='2'>
        <ion-card class='ion-padding-start'>
          <ion-card-content>

            <form #usernameForm=ngForm (ngSubmit)='usernameFormProcessor(usernameForm)'>
              <ion-list lines='none'>
                <ion-item>
                  <ion-label position='floating'>Enter your username</ion-label>
                  <ion-input
                  ngModel
                  name='username'
                  #username=ngModel
                  minlength='4'
                  clearInput
                  ></ion-input>
                </ion-item>
                <ion-item *ngIf='username.invalid && username.touched'>
                  <ion-label><ion-text color='danger'>Please enter a valid username</ion-text></ion-label>
                </ion-item>
                <ion-item *ngIf='usernameExists && username.untouched'>
                  <ion-label><ion-text color='danger'>Username already exists!</ion-text></ion-label>
                </ion-item>
                <ion-button 
                type='submit'
                expand='block'
                color='primary'
                fill='solid'
                >Done</ion-button>
              </ion-list>
            </form>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card class='ion-padding'>
          <ion-card-header>
            <ion-card-title class="ion-padding-start"><h1>
              What is this?
            </h1></ion-card-title>
            <ion-card-subtitle class="ion-padding-start">
              To start chatting you need to have a username so that others can find you online
            </ion-card-subtitle>
            <ion-card-content>
              <ion-list lines='none'>
                <ion-item><p>Length of username must be qual to or greater than 4</p></ion-item>
                <ion-item><p>Can be alphanumeric</p></ion-item>
                <ion-item><p>For now the usernames are not restricted i.e one could take an already existing username. This will be patched once the app leaves beta phase.</p></ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>